@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #39db4a;
  --text_color: #555555;
  --text_redColor: #ff6868;
  --pFont_size : 20px;
  /* mobile font  */
  --pmFont_size : 16px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
}
.container {
  width: 90%;
  margin: 0 auto;
}
img{
  transition: all 0.4s;
  &:hover{
    transform: scale(0.9);
  }
}
button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--primary_color);
  color: white;
  font-size: 20px;
  padding: 0.8rem 1.5rem;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover{
    opacity: 0.9;
  }
}
button img{
  width: 20px;
}
header {
  padding-bottom: 2rem;
}
/* nav style here  */
.nav{ 
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,255,0,0.5);
  backdrop-filter: blur(100px);
}
.nav_bar {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.nav_bar .ham {
  display: none;
}
.nav_bar .ham img {
  width: 50px;
  height: 50px;
}
.nav_bar h2 {
  font-size: 30px;
}
.nav_bar h2 span {
  background-color: var(--primary_color);
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}
.nav_bar ul {
  display: flex;
  align-items: center;
}
.nav_bar ul li {
  margin: 0 1.5rem;
  list-style-type: none;
  a:hover {
    color: var(--primary_color);
  }
}
.nav_bar ul li a {
  text-decoration: none;
  color: var(--text_color);
  font-size: 25px;
  font-weight: 500;
  transition: all 0.4s;
}
.nav_bar ul li a:hover {
  color: #747171;
}
.nav_bar .btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  & img {
    cursor: pointer;
  }
}
/* navbar end here */

/* ======= header style ========= */
.hero_aria {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  /* left side  */
  .hero_left_side {
    & h1 {
      font-size: 62px;
      font-weight: 800;
      padding: 10px 0;
      margin: 1rem 0;
      & span {
        color: #39db4a;
      }
    }
    & p {
      color: #555555;
      font-size: 26px;
      padding: 1rem 0;
      padding-right: 150px;
      margin: 10px 0;
    }
    & .bt_group {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;

      & button {
        font-size: 26px;
      }

      .watch_btn {
        background-color: white;
        color: black;
      }
    }
  }

  /* right side  */
  .hero_right_side {
    .img_div {
      position: relative;
      .bg {
        background-color: #39db4a;
        border-radius: 100px;
      }
    }
    & .img_div img {
      width: 100%;
      height: 100%;
    }

    & .menu_list {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 1rem;
      bottom: 40px;

      & .menu_list_item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem 1rem;
        gap: 1rem;
        border-radius: 20px;
        box-shadow: 4px 4px 40px rgb(136, 131, 131);
        background-color: rgb(255, 255, 255);

        & div img {
          width: 90%;
          height: 900%;
          border-radius: 15px;
        }
        & h3 {
          padding: 5px 0;
        }
        & span {
          color: rgb(240, 59, 59);
        }
      }
    }
  }
}
/* populer catagory  */
.populer_catagory {
  padding: 20px 0;
  & h1 {
    font-size: 60px;
    text-align: center;
  }
  .populer_item_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 0;

    .populer_item {
      display: grid;
      place-content: center;
      background-color: white;
      border-radius: 20px;
      padding: 2rem 0;
      box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.2);

      .img_bg {
        display: grid;
        place-content: center;
        background-color: #c1f1c7;
        border-radius: 50px;
        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
          border-radius: 50px;
        }
      }
      & h3 {
        text-align: center;
        margin-top: 10px;
      }
      & h4 {
        text-align: center;
        margin-top: 10px;
        color: #555555;
      }
    }
  }
}
/* specia dishesh  */
.special_dishes {
  padding: 1rem 0;
  & h5 {
    color: rgb(228, 73, 73);
    font-size: 20px;
    font-weight: bold;
    padding: 1rem;
  }
  .tittle {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: flex-end;
    .arrow {
      display: flex;
      place-content: center;
      gap: 10px;
      & div {
        width: 50px;
        height: 50px;
        display: grid;
        place-content: center;
        color: white;
        background-color: #39db4a;
        font-weight: bolder;
        border-radius: 30px;
        cursor: pointer;
        text-align: center;
      }
    }
    & h1 {
      font-size: 60px;
      font-weight: bold;
      max-width: 500px;
      margin-top: 10px;
    }
  }
  .special_item_list {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding: 1.5rem 0;

    .special_item {
      position: relative;
      padding: 2rem 1rem;
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      max-height: auto;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      background-color: white;
      .favor_div {
        position: absolute;
        padding: 20px;
        background-color: #39db4a;
        top: 0;
        right: 0;
        border-radius: 0 30px 0 30px;
        color: white;
      }
      .description {
        padding: 0 1.5rem;
      }
      .img_div {
        display: grid;
        place-content: center;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & h4 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 600;
      }
      & p {
        font-size: 22px;
        font-weight: bold;
        color: #555555;
        margin-top: 15px;
      }
      .price_ratting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ratting {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          & i {
            margin-top: 13px;
            color: rgb(247, 232, 21);
          }
        }
      }
    }
  }
}

.Testimonial_section {
  padding: 1rem 10px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;

  .img_div img {
    width: 100%;
    height: 100%;
  }
  .text_section {
    & h4 {
      font-size: 20px;
      font-weight: bold;
      color: rgb(255, 60, 60);
    }
    & h1 {
      font-size: 60px;
      padding: 1rem 0;
      font-weight: bold;
    }
    & p {
      padding: 1rem 0;
      max-width: 400px;
      text-wrap: wrap;
    }
  }
  .coustomer_feedback_section {
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
      width: 50px;
      border-radius: 50px;
    }
    & img:not(:nth-child(1)) {
      margin-left: -2rem;
    }
    .ratting {
      color: #555555;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}
/* story and service section  */
.story_and_service {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;

  .text_aria {
    flex-basis: 48%;
    .pText {
      font-size: 20px;
      font-weight: bold;
      color: var(--text_redColor);
      padding: 1rem 0;
    }
    & p {
      font-size: 20px;
      padding-bottom: 1rem;
      color: var(--text_color);
    }
    & h1 {
      font-weight: bold;
      font-size: 60px;
      padding: 1rem 0;
    }
  }
  .service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    justify-content: center;
    .service_item {
      max-width: 250px;
      text-align: center;
      padding: 1rem;
      color: var(--primary_color);
      border-radius: 10px;
      border: 1px solid #9b9b9b;
      transition: all .3s;
      cursor: pointer;
      &:hover{
        border: 1px solid #555555;
        box-shadow: 2px 2px 5px rgba(0,255,0,0.4);
      }
      & div {
        display: grid;
        place-content: center;
      }
      & div img {
        width: 100%;
        height: 100%;
      }
      & h3 {
        padding: 1rem 0;
      }
    }
  }
}
/* footer strat here  */
footer {
  padding: 2rem 0;
  .top_footer{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 1rem;

    .foot_item{
      & h3 {
        font-size: 30px;
        & span{
          background-color: var(--primary_color);
          padding: 5px;
          color: white;
          border-radius: 8px;
        }
      }
      & p {
        margin-top: 2rem;
        font-size: var(--pFont_size);
        color: var(--text_color);
      }
      & h4{
        font-size: 22px;
        padding-bottom: 10px;
      }
      & li {
        list-style-type: none;
      }
      & a {
        display: block;
        text-decoration: none;
        color: var(--text_color);
        font-size: var(--pFont_size);
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }
}

/* =========media quereis======  */
@media (max-width: 1024px) {

  /* ======= nav ====== */
  .nav_bar .ham {
    display: block;
  }
  .nav_bar ul {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color:white;
    z-index: 20;
    color: var(--text_color);
    height: 100vh;
    transition: all 0.5s;
    width: 300px;
  }
  .nav_bar ul li {
    margin: 1rem 0;
    font-size: 30px;
  }
  /* ========= header ======== */
  .hero_aria {
    flex-direction: column;
    margin-top: 50px;
    gap: 1rem;
    .hero_left_side {
      & h1 {
        font-size: 52px;
        padding: 0;
        text-align: center;
        margin: 0;
      }
      & p {
        font-size: 23px;
        padding: 1rem 0;
        text-align: center;
      }
      & .bt_group {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 0;
        & button {
          display: block;
          width: 200px;
          margin: 0 auto;
        }
        .watch_btn {
          width: 300px;
        }
      }
    }
  }
  /* special dishesh  */
  .special_dishes {
    .tittle {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      & h1 {
        font-size: 40px;
      }
    }
    .special_item_list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* testimional section  */
  .Testimonial_section {
    padding: 1rem 10px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;

    .img_div img {
      width: 100%;
      height: 100%;
    }
    .text_section {
      & h1 {
        font-size: 45px;
      }
      & p {
        padding: 1rem 0;
        max-width: 400px;
        text-wrap: wrap;
      }
    }
  }
  /* service and story section */
  .story_and_service {
    .text_aria {
      flex-basis: 48%;
      & h1 {
        font-weight: bold;
        font-size: 40px;
        padding: 1rem 0;
      }
    }
  }
}

@media (max-width: 768px) {
  /* =========== nav ============ */
  .nav_bar .ham img {
    width: 30px;
    height: 30px;
  }
  .nav_bar h2 {
    font-size: 25px;
  }
  .nav_bar .btn_group {
    gap: 0.5rem;
  }
  /* ======== header ======== */
  .hero_left_side {
    & h1 {
      font-size: 42px;
    }
    & p {
      font-size: 23px;
    }
  }

  .menu_list {
    flex-direction: column;

    & .menu_list_item {
      width: 100%;
    }
  }
  /* populer catagory  */
  .populer_catagory {
    & h1 {
      font-size: 35px;
    }
    .populer_item_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /* special dishes  */
  .special_dishes {
    .tittle {
      & h1 {
        font-size: 30px;
      }
    }
    .special_item_list {
      grid-template-columns: repeat(1, 1fr);

      .special_item {
        & h4 {
          font-size: 23px;
          margin-top: 10px;
          font-weight: 600;
        }
        & p {
          font-size: 18px;
          font-weight: bold;
          color: #555555;
          margin-top: 15px;
        }
      }
    }
  }
  /* testimional section  */

  .Testimonial_section {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    .text_section {
      & h1 {
        font-size: 30px;
      }
      & p {
        padding: 1rem 0;
        max-width: 400px;
        text-wrap: wrap;
      }
    }
    .coustomer_feedback_section {
      gap: 10px;
      & h3 {
        font-size: 15px;
      }
      .ratting {
        font-size: 15px;
      }
    }
  }
    /* service and story section */
    .story_and_service {
      flex-direction: column;
      text-align: center;
      .text_aria {
        flex-basis: 48%;
        & h1 {
          font-weight: bold;
          font-size: 40px;
          padding: 1rem 0;
        }
        & button {
          display: block;
          margin: 0 auto;
        }
      }
    }
  /* footer section  */
  footer {
    .top_footer{
      grid-template-columns: repeat(2,1fr);
      .foot_item{
        & h3 {
          font-size: 23px;
        }
        & p {
          font-size: var(--pmFont_size);
        }
        & h4{
          font-size: var(--pFont_size);
        }
        & a {
          font-size: var(--pmFont_size);
       
        }
      }
    }
  }
}

@media (max-width: 567px) {
  /* nav  */
  .nav_bar h2 {
    font-size: 24px;
  }
  button {
    padding: 0.5rem 1rem;
    font-size: 18px;
  }
  /* footer section */
  footer {
    .top_footer{
      place-items: start;
      grid-template-columns: repeat(1,1fr);
      .foot_item{
        & h3 {
          font-size: 23px;
        }
        & p {
          font-size: var(--pmFont_size);
        }
        & h4{
          font-size: var(--pFont_size);
        }
        & a {
          font-size: var(--pmFont_size);
       
        }
      }
    }
  }
}
